body{
    background-color: black;
}
.main{
    height: 100vh;
    margin-top: 0%;
   
    color: #fcff00;
}
.main input{
    width: 7vw;
    background-color: black;
    border: none;
    justify-content: center;
    color: yellow;
    font-size: 60px;
    font-style: italic;
    font-family: cursive
}
.main input:focus{
    outline: none;
}
.main input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
.color{
    height: 200px;
    width: 200px;
    background-color: red;
    border-radius: 30px;
    margin: auto;
    margin-top: 50px;
}

.comma{
    font-size: 60px;
}
.rgb{
    width: 40vw;
    margin: auto;
}

@media only screen and (max-width: 700px) {
    .comma{
        font-size: 20px;
    }
    .main input{

        font-size: 20px;
      
    }
  }